#draw
{
width: 200px;
height: 200px;
margin:10px;
transition: transform .4s; /* Animation */
background-color: #ffaaaa;
}

#draw:hover {
    transform: scale(1.1); 
  }

  #draw:empty {
    background: #ffaaaa;
  }