#lista
{
  color: blueviolet;
}
#lista .negrita
{
    font-weight: 900;
}

#TablaRules
{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  background-color: #ffcccc;
  margin: auto;
  border: 5px solid #f51459;
  border-top: 0px;
  max-height: 80%;
}